.banner{
    height: auto;
    width: 100%;
}
.inicio{
    display: flex;
    align-items: center;
   
    background-size: cover;
    background-position: center;
}
.banner{
    margin-top: 8rem;
}
.banner-tablet{
    display: none;
}
.banner-mobile{
    display: none;
}

h1{
    text-transform: uppercase;
}

.academias .col{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:center;
    text-align: center;
    
}

.ciclos .col{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:center;
    text-align: center;
    
}
.cursos .col{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items:center;
    text-align: center;
    
}

