.banner{
    height: auto;
    width: 100%;
}
.inicio{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.banner{
    margin-top: 7rem;
}
.banner-tablet{
    display: none;
}
.banner-mobile{
    display: none;
}
